#
# travis-ci configuration file
#
language: c
# No tests or configuration steps for now
script: make && make distcheck
# Build with both gcc and clang
compiler:
  - clang
  - gcc
# Just in case the defaults change, we're only interested in Linux:
os:
  - linux
# Use a recent GCC, as otherwise things seem weird
dist: bionic
